html {
    background: black;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.dragging {
    opacity: 0.5;
}

/* 
* {
    border-style: solid;
    border-color: aqua;
} */

/* @font-face {
    font-family: 'Kawkab';
    src: url('./assets/fonts/KawkabMono-Bold.eot');
    src: url('./assets/fonts/KawkabMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/KawkabMono-Bold.woff2') format('woff2'),
        url('./assets/fonts/KawkabMono-Bold.woff') format('woff'),
        url('./assets/fonts/KawkabMono-Bold.ttf') format('truetype'),
} */

/* Add styles for the top panel */
.top-panel {
    background-color: rgba(0, 0, 0, 1);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.top-panel h1 {
    color: white;
    z-index: 10;
    font-size: 19px;
    margin: 0;
    /* Add the glitch effect */
    text-shadow: 0 0 1px #00ff00, 0 0 2px #00ff00, 0 0 3px #00ff00, 0 0 4px #00ff00, 0 0 5px #00ff00;
    animation: glitch 1s infinite;
}

.top-panel a {
    color: white;
    z-index: 10;
    text-decoration: none;
    margin-left: 10px;
}

.top-panel .fa {
    font-size: 15px;
}

/* Add styles for the main content */
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 50px);
}

.side-panel {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75));
    position: fixed;
    z-index: 0;
    top: 25%;
    left: 0;
    height: 440px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;

}

.side-panel div {
    margin-bottom: 10px;
}

body {
    font-family: monospace;
    color: white;
    background-color: black;
}

@keyframes glitch {
    0% {
        text-shadow: 0 0 1px #00ff00;
    }

    25% {
        text-shadow: 0 0 2px #00ff00;
    }

    50% {
        text-shadow: 0 0 3px #00ff00;
    }

    75% {
        text-shadow: 0 0 2px #00ff00;
    }

    100% {
        text-shadow: 0 0 1px #00ff00;
    }
}

.window {
    position: fixed;
    z-index: 1;
    top: 10%;
    right: 50px;
    width: 60%;
    height: 60%;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.404));
    border: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 25px 25px 0px 0px;
}

/* 
#yt-window-id {
    top: 10%;
}

#tw-window-id {
    bottom: 5%;
}

#gl-window-id {
    bottom: 10%;
} */

.draggable {
    left: 0px;
    top: 0px;
    width: calc(100% - 100px);
    height: 30px;
    cursor: grab;
    background-image: linear-gradient(rgb(0, 114, 0), rgba(1, 73, 1, 0.404));
    color: white;
    line-height: 30px;
    padding: 0px;
    float: left;
    border: none;
    text-align: left;
    text-indent: 5px;
    z-index: 9;
    border-radius: 20px 0px 0px 0px;
}

.draggable:hover {
    color: yellow;
    background-image: linear-gradient(rgb(0, 216, 0), rgba(22, 133, 22, 0.404));
}

.icon {
    cursor: pointer;
    padding: 0px;
    position: relative;
    z-index: 0;
    width: 50px;
    height: 80px;
    border: 1px;
}

.icon-text {
    color: white;
    font-style: normal;
    font-size: 0.7em;
    margin: 0 0;
    text-align: right;
}

.icon:hover {
    scale: 1.1;

}

.draggable.drag {
    cursor: move;
    z-index: 10;
    opacity: 0.5;
}

.close-button {
    background-image: linear-gradient(red, rgb(97, 0, 0));
    color: white;
    float: right;
    width: 50px;
    height: 30px;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 0px 20px 0px 0px;

}

.close-button:hover {
    color: yellow;
    background-image: linear-gradient(rgb(196, 66, 5), rgb(66, 4, 4));

}

.max-button {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(36, 36, 36));
    color: white;
    border: none;
    float: right;
    width: 50px;
    height: 30px;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
}

.max-button:hover {
    color: yellow;
    background-image: linear-gradient(rgb(161, 196, 5), rgb(50, 66, 4));
}


/* .fa fa-youtube-square {

    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
} */